<div class="jumbotron text-center">
<h1 class="text-center">Simple Forum System</h1>

<p>Angular 2 client application intended to work with RestFull API server built with ASP.Net WebApi.</p>
<p>Created by Dimitar Kirov - <a href="https://telerikacademy.com/Users/dimkirov">dimkirov</a> as Course project for SPA Applications with Angular 2 course at Telerik Academy<p>
<p>Project code is available <a href="https://github.com/DimitarDKirov/ForumSystemClient">here</a>. Web API server code is available <a href="https://github.com/DimitarDKirov/Forum-Paulo-Coelho">here</a></p>

</div>