<h2 class="col-sm-10 col-sm-offset-2">Register</h2>
<form class="form-horizontal" (ngSubmit)="onSubmit()" #registrationForm="ngForm">
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-4">
      <input class="form-control" id="inputUsername" placeholder="Username" [(ngModel)]="username" name="username" required maxlength="25"
        #usernameInput="ngModel">
    </div>
    <div [hidden]="usernameInput.valid || usernameInput.pristine" class="text-danger col-sm-4">Enter valid username up to 25 symbols</div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="email" name="email" required pattern="^[a-zA-Z0-9._%+-]+@(?:[a-z0-9-]+\.)+[a-z]{2,}$"
        #emailInput="ngModel">
    </div>
    <div [hidden]="emailInput.valid || emailInput.pristine" class="text-danger col-sm-4">Email must be valid </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="password" name="password"
        required minlength="6" #passwordInput="ngModel">
    </div>
    <div [hidden]="passwordInput.valid || passwordInput.pristine" class="text-danger col-sm-4">Password is required with min 6 symbols </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="!registrationForm.form.valid">Register</button>
    </div>
  </div>
</form>